<a href="https://colab.research.google.com/github/Eligeti-13/Swiggy_Recommend_Restaurant/blob/main/siwggy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [ ]:
data = pd.read_csv("swiggy.csv")
data

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
3414,576721,Virescent Cafe,"Naranpura,Ahmedabad",--,Too Few Ratings,₹ 350,"Cafe,Indian",10722026001056,https://www.swiggy.com/restaurants/virescent-c...,"Virescent Cafe, NEAR STATE BANK OF INDIA NEAR ...",Menu/576721.json
3415,479906,Fresh King,"Naranpura,Ahmedabad",4.1,50+ ratings,₹ 150,"Juices,Beverages",20721038000366,https://www.swiggy.com/restaurants/fresh-king-...,"Fresh King, SHOP NO.3, GREEN IRIS APPARTMENT, ...",Menu/479906.json
3416,555249,Sugarbloom - The bake studio,"Naranpura,Ahmedabad",--,Too Few Ratings,₹ 100,"Bakery,Desserts",20721034001782,https://www.swiggy.com/restaurants/sugarbloom-...,"Sugarbloom - The bake studio, above Usmnapura ...",Menu/555249.json
3417,49562,Season 9,"Naranpura,Ahmedabad",3.9,1K+ ratings,₹ 250,"Indian,Chinese",10716026000125,https://www.swiggy.com/restaurants/season-9-na...,"Season 9, 103, Shivalik Yash, 132 Feet Ring Ro...",Menu/49562.json
3418,508186,Ajay Ganthiya Rath,"Naranpura,Ahmedabad",--,Too Few Ratings,₹ 10,NaN,NaN,NaN,NaN,NaN

In [ ]:
data.isnull().sum()

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         1
lic_no          4
link            1
address         1
menu            1
dtype: int64

In [ ]:
data.drop(columns=['id', 'lic_no', 'link', 'menu'], axis=1, inplace=True)
data.columns

Index(['name', 'city', 'rating', 'rating_count', 'cost', 'cuisine', 'address'], dtype='object')

In [ ]:
data.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         1
address         1
dtype: int64

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
address         0
dtype: int64

In [ ]:
data.dtypes

name            object
city            object
rating          object
rating_count    object
cost            object
cuisine         object
address         object
dtype: object

In [ ]:
data['rating_count'] = data['rating_count'].replace('Too Few Ratings', '5')

def convert_rating_count(value):

    value = value.replace(' ratings', '').strip()
    if '+' in value:
        value = value.replace('+', '')  # Remove '+' sign
    if 'K' in value:
        value = float(value.replace('K', '')) * 1000  # Convert 'K' to thousands
    return int(value)

# Apply the conversion function
data['rating_count'] = data['rating_count'].apply(convert_rating_count)

In [ ]:
data['rating_count'].isnull().sum()

0

In [ ]:
data['rating'].value_counts()

rating
--     2087
4.0     157
4.1     143
4.2     128
3.9     128
4.3     108
3.8     107
3.7      92
3.5      72
3.6      70
4.4      68
3.4      51
3.3      38
4.5      35
4.6      32
3.0      18
3.2      18
4.7      11
3.1      10
2.9       9
2.8       7
2.7       7
2.6       5
4.8       4
2.4       3
2.5       3
2.3       2
5.0       2
2.2       1
1.4       1
1.9       1
Name: count, dtype: int64

In [ ]:
data['rating'] = data['rating'].replace('--', '0.0')

In [ ]:
data['rating'] = pd.to_numeric(data['rating'], errors='coerce')
data['rating'] = data['rating'].astype(float)

In [ ]:
data['rating'].isnull().sum()

0

In [ ]:
data['cost'] = data['cost'].str.replace(r'[₹\s]', '', regex=True)  # Remove currency symbol and spaces
data['cost'] = pd.to_numeric(data['cost'], errors='coerce').astype(int)

In [ ]:
data['cost'].isnull().sum()

0

In [ ]:
data.dtypes

name             object
city             object
rating          float64
rating_count      int64
cost              int64
cuisine          object
address          object
dtype: object

In [ ]:
data.head()

,name,city,rating,rating_count,cost,cuisine,address
0,AB FOODS POINT,Abohar,0.0,5,200,"Beverages,Pizzas","AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI..."
1,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery","Janta Sweet House, Bazar No.9, Circullar Road,..."
2,theka coffee desi,Abohar,3.8,100,100,Beverages,"theka coffee desi, sahtiya sadan road city"
3,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian","Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR"
4,GRILL MASTERS,Abohar,0.0,5,250,"Italian-American,Fast Food","GRILL MASTERS, ADA Heights, Abohar - Hanumanga..."

In [ ]:
column_names = ['name', 'city', 'rating','rating_count', 'cost', 'cuisine', 'address']
data.to_csv('cleaned_data.csv', columns=column_names, index=False)

In [ ]:
cleaned_data = pd.read_csv('cleaned_data.csv')
cleaned_data.head()

,name,city,rating,rating_count,cost,cuisine,address
0,AB FOODS POINT,Abohar,0.0,5,200,"Beverages,Pizzas","AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI..."
1,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery","Janta Sweet House, Bazar No.9, Circullar Road,..."
2,theka coffee desi,Abohar,3.8,100,100,Beverages,"theka coffee desi, sahtiya sadan road city"
3,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian","Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR"
4,GRILL MASTERS,Abohar,0.0,5,250,"Italian-American,Fast Food","GRILL MASTERS, ADA Heights, Abohar - Hanumanga..."

# Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pickle

categorical_columns = ['name', 'city', 'cuisine']

# Create OneHotEncoder object for remaining categorical features
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit and transform the categorical columns
encoded_data = encoder.fit_transform(cleaned_data[categorical_columns])

In [ ]:
# Convert the encoded data into a DataFrame
encoded_columns = encoder.get_feature_names_out(categorical_columns)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

In [ ]:
# Step 3: Save the encoder as a Pickle file
with open('encoder.pkl', 'wb') as f:
    pickle.dump(encoder, f)

In [ ]:
final_data = pd.concat([cleaned_data, encoded_df], axis=1)

In [ ]:
# Step 5: Save the preprocessed dataset as encoded_data.csv
final_data.to_csv('encoded_data.csv', index=False)

In [ ]:
print("Indices of cleaned_data and encoded_data match:", final_data.index.equals(cleaned_data.index))

Indices of cleaned_data and encoded_data match: True

In [ ]:
encoded_data = pd.read_csv("encoded_data.csv")
encoded_data.head()

,name,city,rating,rating_count,cost,cuisine,address,name_0 Dergee Celcius,name_1807 Ka Theka,name_1944 - The Hocco Kitchen,...,"cuisine_Thalis,Gujarati","cuisine_Thalis,Indian","cuisine_Thalis,North Indian","cuisine_Thalis,Punjabi","cuisine_Thalis,Rajasthani","cuisine_Tibetan,Chinese","cuisine_Tibetan,Nepalese","cuisine_Waffle,Beverages","cuisine_Waffle,Desserts","cuisine_Waffle,Ice Cream"
0,AB FOODS POINT,Abohar,0.0,5,200,"Beverages,Pizzas","AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery","Janta Sweet House, Bazar No.9, Circullar Road,...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,theka coffee desi,Abohar,3.8,100,100,Beverages,"theka coffee desi, sahtiya sadan road city",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian","Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,GRILL MASTERS,Abohar,0.0,5,250,"Italian-American,Fast Food","GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0